/* VARIABLES */
:root {
    --dark-grey: #222222;
    --light-grey: #4a4a4a;
}

/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* GENERAL */
body {
    background-color: black;
    font-family: sans-serif;
}

.flex {
    display: flex;
}

/* MAIN */
/* Main container */
.wrapper {
    height: calc(100vh - 70px);
    width: 100%;
    padding-top: 40px;
    color: white;
}

/* Inner container */
.container {
    width: 90%;
    margin: 0 auto;
}

.box.flex {
    flex-wrap: wrap;
}

/* Cards */
.col {
    width: calc(100% / 7);
    padding: 5px;
}

.image {
    position: relative;
}

.tag {
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    font-size: .8rem;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Controls panel */
 .panel {
    height: 70px;
    background-color: var(--dark-grey);
}

/* Mute ans stop video */
.my-controls {
    width: 15%;
    align-items: center;
    color: white;
}

/* All controls */
.controls.flex {
    flex-grow: 1;
    color: white;
    justify-content: center;
    align-items: center;
}

/* End meeting */
.end-meeting {
    width: 8%;
    background-color: var(--light-grey);
    color: red;
    font-size: .7rem;
    line-height: 70px;
    text-align: center;
    padding: 0 10px;
}

.end-meeting:hover {
    cursor: pointer;
}

/* Buttons */
.button-control {
    text-align: center;
    padding: 0 10px;
}

.button-control:hover {
    cursor: pointer;
}

.button-control i {
    font-size: 1.5rem;
    padding-bottom: 8px;
}

.button-control div {
    font-size: .8rem;
}

.button-control.share-screen i {
    color: greenyellow;
}
